<?xml version='1.0' encoding='utf-8'?>
<widget id="com.nsevenit.nsevenapp" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>nsevenapp</name>
    <description>
      Demo app with Cordova + Ionic Framework + AngularJs + ngCordova.
    </description>
    <author email="info@nsevenit.co.uk" href="http://www.nsevenit.co.uk">
        nSeven IT Ltd
    </author>
    <content src="index.html" />
    <access origin="*" />
</widget>
